@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:wght@500&family=League+Spartan:wght@600;700&family=Montserrat:wght@500&family=Poppins:wght@500&family=Prompt:wght@300;600&display=swap');
*{
    width:100%;
    height:100%;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100%;
    margin:0px;
    padding: 0px;   
    background-image: url("login_bg_finalnew-01-01-01-01-01-01-01.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.centerbox{
    display:flex;
    flex-direction: row;
    width:88%;
    height:88%;
    background-color: white;
    position: fixed;
    top:6%;
    left:6%;
    box-shadow: 20px 20px 25px 25px rgba(0, 0, 0, 0.219);
}
#b1{
    display: inline-flex;
    flex-direction: column;
    width: 116%;
    height: 100%;
    margin:0px;
    background-color:#acacac18;
    align-items: baseline;
    overflow: hidden;
}
.image{
    width:39%;
    height:54%;
    position:absolute;
    top:10%;
    left:5%;
    margin: 0px;
    padding: 0px;
}
#b2{
    width: 116%;
    height: 100%;
    display:inline-flex;
    flex-direction: column;
    background-color: white;
}
#signup_heading{
    height:fit-content;
    width:100%;
    margin-top:5%;
    margin-bottom: 2%;
    color: #1f4476;
    font-family: 'League Spartan';
    letter-spacing: -1px;
    text-align:center;
    font-size: 226%;
}
.circles{
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-self: center;
    gap: 12%;
}
#circle1 , #circle2{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    font-size:120%;
    padding: 1%;
}
#circle1{
    color: #38385c;
}
#circle2{
    color: #5e606b84;
}
#signup_form1 , #signup_form2{
    display: grid;
    position: absolute;
    width:46%;
    height:25%;
    top:30%;
    margin-left:1.3%;
    padding-left:8%;
}
input{
    grid-column-start: 2;
    grid-column-end: 5;
    margin:0% 0% 5% 1%;
    background-color: rgba(0, 0, 0, 0.116);
    border:rgba(0, 0, 0, 0.116);
    border-radius:20px;
    width:72%;
    height:67%;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 94%;
    color:rgba(0, 0, 0, 0.658);
}
.formspan{
    font-family: 'Josefin Sans';
    color: rgba(0, 0, 0, 0.76);
    grid-column-start: 1;
    grid-column-end: 2;
    margin:4%;
}
#rarrow{
    display: grid;
    position: absolute;
    top:60%;
    left:90%;
    width:4%;
    height: 8%;
    border-radius: 50%;
    background-color:white;
    border:4px solid rgba(0, 0, 0, 0.658);
}

#larrow{
    display: grid;
    position: relative;
    top:40%;
    left:10%;
    width:8%;
    height: 8%;
    border-radius: 50%;
    background-color:white;
    border:4px solid rgba(0, 0, 0, 0.658);
}

#right_arrow , #left_arrow{
    color:rgba(0, 0, 0, 0.658);
    font-size: 312%;
    justify-self: baseline;
}
#submit_button{
    width:18%;
    height: 6%;
    padding:1px;
    position:relative;
    align-self: center;
    top:47%;
    color:#1f4476;
    background-color:#f8b697;
    border-radius: 40px;
    border:#f8b697;
    font-family: 'Josefin Sans';
    font-size: large;
}
.loginfooter{
    font-family: 'Josefin Sans';
    color: rgba(0, 0, 0, 0.644);
    width:fit-content;
    height: fit-content;
    position: absolute;
    top:80%;
    margin-left: 16%;
    display: inline-block;
}
#clicktologin{
    display: inline-block;
    color: #f0773f;
    font-family: 'Josefin Sans';
    width:fit-content;
    height: fit-content;
    text-decoration: none;
}
#quote{
    color: #38385c;
    font-family: 'Josefin Sans';
    text-align: center;
    margin-top: 42%;
    padding-left: 8%;
    padding-right: 8%;
}

